:root {
  --tuber-size: 100vh;
  --slider-width: 100%;
  --slider-height: 2.75rem;
  --slider-thumb-size: 2.75rem;
  --slider-thumb-background-color: lightgrey;
  --slider-thumb-background-color-hover: darkgrey;
  --slider-thumb-background-color-active: grey;
  --slider-border-color: #0b0c0c;
  --slider-border-radius: 0.5rem;
  --slider-border-width: 0.15rem;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
:focus {
  outline-offset: 4px;
  outline: 2px solid;
}
html {
  font-family: sans-serif;
  font-size: 3vh;
}
body {
  margin: 0;
  padding: 0;
}
.tuber {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.tuber,
[data-frame] {
  height: var(--tuber-size);
  width: var(--tuber-size);
}
[data-frame] {
  position: absolute;
  top: 0;
  left: 0;
  animation: noop 2s steps(1, end) infinite;
}
[data-frame="closed"] {
  opacity: 1;
}
[data-state="open"] [data-frame^="closed"] {
  opacity: 0;
}
[data-frame="open"] {
  opacity: 0;
}
[data-state="open"] [data-frame^="open"] {
  opacity: 1;
}
[data-frame="closed-blink"] {
  opacity: 0;
}
[data-state="closed"] [data-frame="closed-blink"] {
  animation-name: blink;
}
[data-frame="open-blink"] {
  opacity: 0;
}
[data-state="open"] [data-frame="open-blink"] {
  animation-name: blink;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.controls {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem;
}
.slider {
  position: relative;
  border: var(--slider-border-width) solid var(--slider-border-color);
  border-radius: var(--slider-border-radius);
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}
.slider:focus-within {
  outline: 2px solid;
  outline-offset: 4px;
}
.slider,
.slider input {
  height: var(--slider-height);
  width: var(--slider-width);
}
.slider [type="range"] {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 0;
  width: var(--slider-width);
}
meter {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

meter,
meter::-webkit-meter-bar,
meter::-webkit-meter-optimum-value,
meter::-webkit-meter-suboptimum-value,
meter::-webkit-meter-even-less-good-value,
meter::-webkit-meter-inner-element {
  background: none;
  border-radius: 0;
  border: none;
  width: 100%;
  height: 100%;
}

meter {
  appearance: none;
  -moz-appearance: meter;
  -webkit-appearance: meter;
}

meter::-webkit-meter-optimum-value {
  background: none;
  background-color: forestgreen;
}
meter::-moz-meter-bar {
  background: none;
  background-color: forestgreen;
}
input[type="range"] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type="range"]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type="range"]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: var(--slider-border-width) solid var(--slider-border-color);
  height: var(--slider-height);
  width: var(--slider-thumb-size);
  background: var(--slider-thumb-background-color);
  cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb:hover {
  background: var(--slider-thumb-background-color-hover);
}
input[type="range"]::-webkit-slider-thumb:active {
  background: var(--slider-thumb-background-color-active);
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  border: var(--slider-border-width) solid var(--slider-border-color);
  height: var(--slider-thumb-size);
  border-radius: var(--slider-border-radius);
  width: var(--slider-thumb-size);
  background: var(--slider-thumb-background-color);
  cursor: pointer;
}
input[type="range"]::-moz-range-thumb:hover {
  background: var(--slider-thumb-background-color-hover);
}
input[type="range"]::-moz-range-thumb:active {
  background: var(--slider-thumb-background-color-active);
}
button {
  height: var(--slider-thumb-size);
  border: var(--slider-border-width) solid var(--slider-border-color);
  font-size: inherit;
  font-family: inherit;
  border-radius: var(--slider-border-radius);
  background: var(--slider-thumb-background-color);
  padding: 0 1rem;
  cursor: pointer;
}
button:hover {
  background: var(--slider-thumb-background-color-hover);
}
button:active {
  background: var(--slider-thumb-background-color-active);
}
